*{
  margin:0;
}
body{
  /* background-color: #c5c5c5c4; */
  height: 100%;
  background: rgba(19, 28, 35, 0.863);
 
}
html {
  scroll-behavior: smooth;
}

.app {
  display:flex;
  justify-content: space-evenly;
  padding:20px;
}


/* dropdown */
.app_dropdown {
  text-align: center;
  align-items: center;
  background-color: transparent;
  display:flex !important;
}
.MuiSelect-select {
  min-width: 17rem !important;
  background-color: rgba(0, 0, 0, 0.829) !important;
  color:white !important;

}
.MuiSelect-icon{
  color:white !important;
}
.MuiMenu-paper {
  top:290px !important;
  /* max-width: 200px !important; */
  height: 18.4rem;
  background-color: rgba(0, 0, 0, 0.829) !important;
  color:white !important;
 
}


/* header */
.app_header {
  display:flex;
  align-items: center;
  margin-bottom:20px;
  flex-direction: column !important;
  
}
.app_header > h1 {
  
  text-shadow: 4px 2px 4px #747373be;
  color:#2b2a2aec;
  font-size: 2rem;
  text-align: center;
}

/* out of 1 it ocuupies 0.8 fraction */
.app_left{
  flex:0.8;
}
.app_stats {
  display:flex;
  justify-content: space-between;
}
.app_right{
  display:flex;
  flex-direction:column;
}

 .item{
  border-radius: 20px !important;
  box-shadow: 0 0 8px -4px rgba(0,0,0,0.5) !important;
  margin:1rem;

}
.app_graph{ 
  height:18rem;
}
.app_right .app_graph .MuiCardContent-root {
  height: 5rem !important;
  flex-grow:1;
}
/* .app_graph{
  flex-grow:1;
}  */
.app_graphTitle{
  
  text-align: center;
  margin: 15px 30px;
  border-radius: 10px;
  font-family:helvetica;
  text-shadow: 2px 2px 2px #b1b1b1be;
  background-color:#2b2a2aec;
  color:#ffff;
 
}
@media (max-width:990px){
  .app{
    flex-direction: column;
  }
  .app_right{
    margin-top: 20px;
  }
  /* .app_dropdown{
    max-width:40px !important;
    margin-right: 50px !important;
    padding:0rem !important;

  } */
  .app_header > h1 {
    font-size: 1.5rem;
  }
  /* body{
    background: linear-gradient(141deg, #396dfab4 0%, #69fc6981 51%, #ff5252 75%);
  } */
  .MuiSelect-select {
    min-width: 9rem !important;
  }
  .MuiMenu-paper ul li{
    width:100% !important;
    background-color: rgba(0, 0, 0, 0.829) !important;
    font-size: 0.6rem;
    padding:0.1rem !important;
    overflow: hidden !important; 
    color:white !important;  
    margin:0.1rem !important; 
  }
  .MuiMenu-paper{
    top:310px !important;
    max-width: 140px !important;
    height: 18.4rem;
  }
  .MuiMenuItem-root{
    min-height: 25px !important;
  }
}
@media (max-width:500px){
  .app_stats{
    margin:0 !important;
    padding:0 !important;
  }
}
