*{
  margin:0;
}
body{
  background-color: #f5f6fa;
}
.app {
  display:flex;
  justify-content: space-evenly;
  padding:20px;
}


/* dropdown */
.app_dropdown {
  text-align: center;
  align-items: center;
  background-color: transparent;
}
.MuiSelect-select {
  min-width: 200px !important;
  background-color: rgba(0, 0, 0, 0.829) !important;
  color:white !important;
  box-shadow: 10px 10px !important;
}
.MuiSelect-icon{
  color:white !important;
}
.MuiPaper-root .MuiMenu-paper .MuiPopover-paper .MuiPaper-elevation8 .MuiPaper-rounded{
  top:100px !important
}


/* header */
.app_header {
  display:flex;
  align-items: center;
  margin-bottom:20px;
  justify-content: space-between;
}
.app_header > h1 {
  
  text-shadow: 2px 2px 4px #a5a5a5be;
  color:#2b2a2aec;
  font-size: 2rem;
}

/* out of 1 it ocuupies 0.8 fraction */
.app_left{
  flex:0.8;
}
.app_stats {
  display:flex;
  justify-content: space-between;
}
.app_right{
  display:flex;
  flex-direction:column;
}
.app_table{
}
.app_right .item{
  border-radius: 20px !important;
  box-shadow: 0 0 8px -4px rgba(0,0,0,0.5) !important;
  margin:1rem;

}
.app_graph{ 
  height:18rem;
}
.app_right .app_graph .MuiCardContent-root {
  height: 5rem !important;
  flex-grow:1;
}
/* .app_graph{
  flex-grow:1;
}  */
.app_graphTitle{
  text-align: center;
  margin: 10px 30px;
  border-bottom:5px solid #a7a7a7;
  font-family:helvetica;
}

@media (max-width:990px){
  .app{
    flex-direction: column;
  }
  .app_right{
    margin-top: 20px;
  }
  .MuiSelect-select {
    min-width:80px !important;
  }
}
@media (max-width:990px){
  .app_header > h1 {
    font-size: 1.5rem;
  }
}