.table{
    margin-top: 10px;
    /* overflow:scroll; */
   
    height:400px;
    color:#6a5d5d;
    background-color: white;
    table-layout: auto;
    width:100% !important;
}
.table tr:nth-of-type(odd){
    background-color: #f3f2f8;
}

/* .table tr :nth-child(2){
    border:1px solid red;

} */
.table td{
    padding:0.5em;
}
.table .tableHead{
   
    align-items: center;
    background-color: black !important;
    color:#ffffff;
}
.col{
    background-color:rgba(50, 231, 50, 0.4);
    border-color:rgb(50, 231, 50),
}
@media (max-width:990px){

}